@font-face {
    font-family: 'FZXKB';
    font-display: swap;
    src: url('../font/FZXKB.TTF') format("truetype");
}

@font-face {
    font-family: 'FZXKJW';
    font-display: swap;
    src: url('../font/FZXKJW.TTF') format("truetype");
}

@font-face {
    font-family: 'FZYBXSJW';
    font-display: swap;
    src: url('../font/FZYBXSJW.TTF') format("truetype");
}

/* @font-face {
    font-family: 'OracleBoneScript';
    font-display: swap;
    src: url('../font/OracleBoneScript.ttf') format("truetype");
} */

@font-face {
    font-family: 'XingKai';
    font-display: swap;
    src: url('../font/华文行楷.ttf') format("truetype");
}


@font-face {
    font-family: 'HanYiXingKaiFan';
    font-display: swap;
    src: url('../font/HanYiXingKaiFan-1.ttf') format("truetype");
}

@font-face {
    font-family: 'OracleBoneScript';
    font-display: swap;
    src: url('../font/FZJiaGW.TTF') format('truetype');
}

@font-face {
    font-family: 'JiaGu';
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/Qiu-Weidong/picgo/font/FZJiaGW.TTF') format('truetype');
}
@font-face {
    font-family: '甲骨文';
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/Qiu-Weidong/pictures/fonts/FZJiaGW.TTF') format('truetype');
}

@font-face {
    font-family: '小篆';
    src: url('https://cdn.jsdelivr.net/gh/Qiu-Weidong/pictures/fonts/FZXZTFW.TTF');
}

@font-face {
    font-family: '大篆';
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/Qiu-Weidong/pictures/fonts/STFJinWDZFU.TTF');
}